@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="img-responsive center-block" src="~/Content/Images/Data-East-logo.jpg" />
</div>


<div class="jumbotron">
    <h1>Data East Database</h1>
    <p class="lead">Data East Database provides a collection of first party Data East arcade releases searchable by Title, Release Date,
    Hardware Type, and Genre.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Under Construction</h2>
        <p>
            Data East Database is currently under construction and will require more work before the game list is complete. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>COMING SOON</h2>
        <p>Future updates of Data East Database will include two new sections: Pinball, and Console Games.</p>

    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>